@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    /* i make a gradient */
    background: linear-gradient(
        to bottom right,
        #ffffff 0%, #FBE0C3 50%, #7FC9D9 100%
    );
    background-attachment: fixed;
    margin : -8px;
}
h1{
    margin : 0;
    color: #344648;
    font : 100px 'Josefin Sans',sans-serif;

}
h2{
    color: #344648;
    font : 65px 'Josefin Sans',sans-serif;
}
p{
    color: #7D8E95;
    font-family: 'Inter', sans-serif;
    /* font : 20px "Inter", sans-serif, bold; */
}


#h2_item_right_txt{
    margin-top: -10px;
    margin-bottom: -10px;
}
#p_item_right_txt{
    margin-left: 5px;
}



.main_{
    padding-top : 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
/* annimation move */
@keyframes move_right{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes move_left{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0px);
    }
}

.right_txt{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    animation: move_right 2s;
}

.left_img{
    padding-top: 50px;
    text-align: center;
    background-color: #FFBB98;
    width: 500px;
    animation: move_left 2s;
}
.circle_img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.picto{
    padding : 5px 5px 5px 5px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}
.img_picto{
    width: 50px;
    height: 50px;
    padding: 5px 5px 5px 5px;
}



/* CSS for the menu*/
.menu{
    display: flex;
    justify-content: flex-end;
    background-color: white;
}
.menu_item{
    padding: 30px 50px 30px 10px;
    font : 20px Arial, sans-serif, bold;
    color: #344648;
    text-decoration: none;
    /* Enlever les souslignage */
}
.menu_item:hover{
    transform-origin: top left;
    transition-duration: 0.5s;
    background-color: #FFBB98;
    color: white;
}