h2{
    margin-top:2%;
    margin-left: 4.5%;
    font-weight: bold;
    animation: 0.2s ease-in 0.5s reverse both slidein;
    animation-name: down;
}
p{
    margin-left: 5%;
    margin-bottom: -10px ;
    width: 60%;
    animation: 0.2s ease-in 0.5s reverse both slidein;
    animation-name: down;
}
a{
    color: #344648;
    text-decoration: underline;
    font-weight: bold;
}

/* I put them keyframes (animation) */
@keyframes  down{
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-30%);
    }
}
@keyframes up{
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(30%);
    }
}
