@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.form{
    margin: 5%;
    padding: 20px;

}
.form_item{
    font : 20px 'Josefin Sans',sans-serif;
}
.form_input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}