.case{
    background-color : #FBE0C3;
    padding: 20px;
}
a{
    text-decoration: none;
}

@keyframes droite{
    0%{
        transform: translateX(-20%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes gauche{
    0%{
        transform: translateX(20%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
#case1, #case3, #case5{
    animation: droite 0.5s ease-in-out;
    background-color: #8bb9c4;
}
#case2, #case4, #case6{
    animation: gauche 0.5s ease-in-out;
    background-color: #FFBB98;
    text-align: right;
}
#case1:hover, #case2:hover, #case3:hover, #case4:hover{
        font-size: 100%;
}